body {
  background-color: grey;
  margin: 0;
  padding-top : 100px;
  padding-left: 80px;
  font-size: 14px;
}

nav {
  position: fixed;
  top:0;
  left:0;
  box-shadow: inset 0 0 0 #fff, inset 0 -20px 20px -20px rgba(0,0,0,0.75);
  width: 100%;
  font-size: 18px;
  height: 85px;
}

nav ul {
  margin-left: 38%;
  margin-right: 38%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 8px;
}

nav ul li a {
  box-shadow: inset 0 0 0 #fff, inset 0 -20px 20px -20px rgba(0,0,0,0.75);
  text-decoration: none;
  color: grey;
  border: 6px solid #292D34;
  border-radius: 1.5em;
  padding: 9px;
  padding-left: 15px;
  padding-right: 15px;
}

nav ul li a:hover {
  background-color: #4F5C71
}

nav ul li:nth-child(2) a {
  padding-left: 25px;
  padding-right: 25px;
}

.active {
   background-color: #4F5C71;
}

ul li a {
  text-decoration: none;
  color: blue;
}

ul li a span {
   color:red;
}

.home_b {
  padding:5px;
  width:25px;
  height: 25px;
  background-color: white;
  position: absolute;
  top:3px;
  right:3px;
  border-radius: 10px;
}





@media all and (min-width:1200px) and (max-width:1250px) {
  nav ul {
    margin-left: 36%;
    margin-right: 36%;
  }
}

@media all and (min-width:980px) and (max-width:1199px)  {
  nav ul {
    margin-left: 32%;
    margin-right: 32%;
  }
}

@media all and (min-width:768px) and (max-width:979px)  {
  nav ul {
    margin-left: 29%;
    margin-right: 29%;
  }
}

@media all and (min-width:551px) and (max-width:767px)  {
  nav ul {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media all and (min-width:430px) and (max-width:550px)  {
  body {
    padding-left: 50px;
  }
  nav ul {
    margin-left: 15%;
    margin-right: 15%;
  }
}


@media all and (min-width:335px) and (max-width:429px)  {
  body {
    padding-left: 10px;
  }
  form {
    font-size: 5px;
  }
  label {
    visibility: hidden;
  }
  nav ul {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media all and (min-width:305px) and (max-width:334px)  {
  body {
    padding-left: 10px;
  }
  form {
    font-size: 0;
  }
  label {
    visibility: hidden;
  }
  nav ul {
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media all and (min-width:1px) and (max-width:304px)  {
  body {
    padding-left: 10px;
    padding-top: 140px;
  }
  form {
    font-size: 0;
  }
  label {
    visibility: hidden;
  }
  nav ul {
    margin:2px;
    padding-left: 1px;
  }
  nav {
    height: 120px;
  }
  nav ul li {
    margin: 15px;
  }
}
